<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Article Express</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', path='js/bootstrap.bundle.min.js') }}"></script>
</head>
<body>
    <div class="container d-flex align-items-center" style="min-height: 100vh;">
        <div class="card mx-auto" style="width: 25rem;">
          <div class="card-header">
            Please verify your email
          </div>
          <div class="card-body">
            <form>
                <div class="mb-5">
                    <p class="text-center">Just follow the link we sent to</p>
                    <p class="text-center"><strong>contact@articlexpress.com</strong></p>
                </div>
                
                <button type="submit" class="btn btn-dark btn-block">I did not receive the email</button>
            
            </form>
          </div>
        </div>
      </div>
    
</body>
</html>